
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(20, 20, 20);
}

#app{
  width: 100%;
}

//Utility

h1, h3, h4, p, span, img, .vote{
  background-color: black;
}

.flex{
  display: flex;
}

h2{
  text-align: center;
  margin: 75px 0 35px;
}

.container{
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.col_3{
  width: calc(100% / 12 * 3);
  height: 430px;
  margin: 20px 35px;

    &:hover{
        
        .poster, .poster_null{
            display: none;
        }
        
        .info{
            width: 100%;
            height: 100%;
            padding: 25px;
            line-height: 1.5rem;
            display: block;
            background-color: black;
        }
    } 

}


//header

header{
  height: 70px;
  padding: 0 35px;
  background-color: black;
  justify-content: space-between;
  align-items: center;

    h1{
        color: rgb(229, 9, 20);
    }

    .search_form{
        background-color: black;
    }

    input{
        line-height: 1.5rem;
        padding: 0 13px;
        background-color: white;
        border: none;
        border-radius: 10px;

        &:focus-visible{
            outline: none;
        }
    }

    .search_start{
        font-size: 1.2rem;
        color: white;
        margin: 0 15px;
    }
}


// Main

main{
  color: white;
  word-break: break-all;
}

.poster_null{
  width: 100%;
  height: 100%;
  line-height: 1.5rem;
  padding: 20px 25px;
  background-image: url('https://banner2.cleanpng.com/20190219/ue/kisspng-photographic-film-westchester-film-festival-otherm-classical-music-mayhem-music-and-myths-and-book-5c6cb0e9c89a56.7139856315506270498217.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  h3{
    text-decoration: underline;
    color: black;
    background-color: transparent;
    }

}

.star{
  color: yellow;
}

.poster, .poster img{
  width: 100%;
  height: 100%;
  display: block;
}


.info{
  display: none;
  overflow-y: auto;

  h4{
      width: 100%;
      margin: 15px 0 35px;
  }

  .overview{
      width: 100%;
      height: 40%;
      overflow-y: auto;
  }
}
